main{
  display: flex;
  justify-content: center;
 
}
.contener {
  width: 375px;
  height: 100%;
  
}
.backgroundImage{
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  background-size: contain;
 
}
.backgroundImageDark {
  background-color: var(--VeryDarkBlue);
  background-image: url('images/bg-mobile-dark.jpg');
}

.backgroundImageLigth {
  background-color: var(--LightGrayishBlue);
  background-image: url('images/bg-mobile-light.jpg');
}

.iconButton {
  background-color: transparent;
  border: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 48px;
  padding: 0 25px;
}

.title {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 11px;
}

.icon {
  width: 20px;
  height: 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 35px;
  padding-bottom: 40px;
}

@media (min-width: 700px) {
  .contener {
    width: 430px;
    
  }

  .backgroundImageDark {
    background-size: 100% 200px;
    background-image: url('images/bg-desktop-dark.jpg');
  }

  .backgroundImageLigth {
    background-image: url('images/bg-desktop-light.jpg');
    background-size: 100% 200px;
  }

}